<template id="user_load_template">
    <div class="row">
        <div class="col-sm">
            <label for="user_load_file" class="form-label form-text">Select a CSV file of users:</label>
            <div class="input-group mb-3">
                <input
                    @change="fileSelected"
                    ref="user_file_input"
                    class="form-control"
                    type="file"
                    id="user_load_file"
                    accept=".csv,text/csv,text/comma-separated-values,text/plain"
                >
                <button
                    @click="loadUsers"
                    type="button"
                    class="btn btn-outline-primary"
                    :disabled="!readyToLoad"
                >
                    <icon icon="fa-solid fa-cloud-arrow-up"></icon> Load to Cayuse
                </button>
                <button
                    @click="clearResults"
                    type="button"
                    class="btn btn-outline-secondary"
                    :disabled="!readyToReset"
                >
                    <icon icon="fa-solid fa-xmark"></icon> Reset
                </button>
            </div>
            <div class="results">
                <p v-if="getting_results && !got_results">
                    <icon icon="fa-solid fa-cloud-arrow-up" bounce></icon> Loading users &hellip;
                </p>
                <p v-if="got_results">
                    <icon icon="fa-solid fa-circle-check" class="text-success"></icon> {{ jobCount }} users uploaded and queued for processing <icon icon="fa-solid fa-arrow-turn-down"></icon>
                    <job-status type="user" :job-id="jobId" :job-count="jobCount" @job-completed="showReport"></job-status>
                </p>
                <p v-if="got_results && show_report">
                    <job-report type="user" :job-id="jobId"></job-report>
                </p>
                <p v-if="error">
                    <icon icon="fa-solid fa-circle-xmark" class="text-danger"></icon> Error: {{ error }}.
                </p>
            </div>
        </div>
    </div>
</template>