<template id="user_search_template">
    <div class="input-group mb-3">
        <input
            v-model="user_query"
            @keyup.enter="searchUsers"
            type="text"
            class="form-control"
            placeholder="Search existing Cayuse users by NetID..."
            aria-label="Recipient's username"
            aria-describedby="user-search-button-addon"
        >
        <button
            @click="searchUsers"
            class="btn btn-outline-primary"
            type="button"
            id="user-search-button-addon"
            :disabled="!readyToSearch"
        >
            <icon icon="fa-solid fa-magnifying-glass"></icon> Search Cayuse
        </button>
        <button
            @click="clearUserSearchResults"
            class="btn btn-outline-secondary"
            type="button"
            id="user-search-button-addon2"
            :disabled="!readyToReset"
        >
            <icon icon="fa-solid fa-xmark"></icon> Reset
        </button>
    </div>
    <div class="user-search-results">
        <p v-if="user_searching">
            <icon
                icon="fa-solid fa-magnifying-glass"
                :style="{'--fa-beat-fade-opacity': '0.05', '--fa-beat-fade-scale': '1.25', '--fa-animation-duration': '0.7s'}"
                beat-fade
            ></icon> Searching &hellip;
        </p>
        <p v-if="user_query && user_search_performed && user_search_results.length === 0">
            <icon icon="fa-solid fa-circle-xmark" class="text-danger"></icon> No Cayuse users found with NetID &ldquo;{{ user_query }}&rdquo;
        </p>
        <div v-for="user in user_search_results" class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    {{ user.prefix }} {{ user.firstName }} {{ user.middleName }} {{ user.lastName }} {{ user.suffix }}
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>id</b>: {{ user.id }}</li>
                <li class="list-group-item"><b>employeeId</b>: {{ user.employeeId }}</li>
                <li class="list-group-item"><b>username</b>: {{ user.username }}</li>
                <li class="list-group-item"><b>active</b>: {{ user.active }}</li>
                <li class="list-group-item"><b>email</b>: {{ user.contactEmail }}</li>
                <li class="list-group-item"><b>userId</b>: {{ user.userId }}</li>
                <li class="list-group-item"><b>created</b>: {{ user.createDate }}</li>
                <li class="list-group-item"><b>updated</b>: {{ user.updateDate }}</li>
            </ul>
        </div>
    </div>
</template>