<template id="user_training_search_template">
    <div class="input-group mb-3">
        <input
            v-model="user_query"
            @keyup.enter="searchUserTrainings"
            type="text"
            class="form-control"
            placeholder="Search existing Cayuse trainings by NetID..."
            aria-label="Recipient's username"
            aria-describedby="training-search-button-addon"
        >
        <button
            @click="searchUserTrainings"
            class="btn btn-outline-primary"
            type="button"
            id="training-search-button-addon"
            :disabled="!readyToSearch"
        >
            <icon icon="fa-solid fa-magnifying-glass"></icon> Search Cayuse
        </button>
        <button
            @click="clearUserSearchResults"
            class="btn btn-outline-secondary"
            type="button"
            id="training-search-button-addon2"
            :disabled="!readyToReset"
        >
            <icon icon="fa-solid fa-xmark"></icon> Reset
        </button>
    </div>
    <div class="user-training-search-results">
        <p v-if="user_searching">
            <icon
                icon="fa-solid fa-magnifying-glass"
                :style="{'--fa-beat-fade-opacity': '0.05', '--fa-beat-fade-scale': '1.25', '--fa-animation-duration': '0.7s'}"
                beat-fade
            ></icon> Searching &hellip;
        </p>
        <div v-if="user_query && user_search_performed">
            <p v-if="foundUser">
                <icon icon="fa-solid fa-circle-check" class="text-success"></icon> Found Cayuse user {{ user_search_results_user.prefix }} {{ user_search_results_user.firstName }} {{ user_search_results_user.middleName }} {{ user_search_results_user.lastName }} {{ user_search_results_user.suffix }} ({{ user_search_results_user.employeeId }})
            </p>
            <p v-else>
                <icon icon="fa-solid fa-circle-xmark" class="text-danger"></icon> No Cayuse user found with employee id &ldquo;{{ user_query }}&rdquo;.
            </p>
            <p v-if="user_search_results.length === 0">
                <icon icon="fa-solid fa-circle-xmark" class="text-danger"></icon> No Cayuse user trainings found for &ldquo;{{ user_query }}&rdquo;.
            </p>
        </div>
        <div v-for="training in user_search_results" class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    {{ training.trainingName }}
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>id</b>: {{ training.id }}</li>
                <li class="list-group-item"><b>completion</b>: {{ training.completionDate }}</li>
                <li class="list-group-item"><b>expiration</b>: {{ training.expirationDate }}</li>
                <li class="list-group-item"><b>created</b>: {{ training.createDate }}</li>
                <li class="list-group-item"><b>updated</b>: {{ training.updateDate }}</li>
            </ul>
        </div>
    </div>
</template>